.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(171, 214, 214, 0.2);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
}