.header {
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.list {
    display: flex;
    gap: 20px;
    font-size: x-large;
    justify-content: center;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.item:hover {
    transform: scale(1.03);
}


.active {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(195, 228, 195);
}

.active:hover {
    transform: scale(1.03);
}

@media screen and (min-width: 768px) {
    .name_title {
        display: block;
    }
}