.header {
    margin-bottom: 20px;
}

.list {
    display: flex;
    gap: 20px;
    font-size: xx-large;
}

.item {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.active {
    /* color: red; */
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(169, 214, 169);
}