.form {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.searchInput {
    display: flex;
    border: none;
    outline: auto;
    outline-style: none;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 10px 0px 0px 10px;
    font-size: medium;
    min-width: 250px;
    padding: 7px;
}

.searchBtn {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: medium;
}