.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    align-items: center;
}

.photo {
    width: 180px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}